body {
    font-family: 'Roboto';
    height: 100vh;
    overflow: hidden;
    h1 {
        margin: 0;
        height: 40vh;
        margin-top: 5vh;
        font-size: 60px;
    }
    .options {
        margin-top: 5vh;
        padding: 2%;
        .option {
            padding: 2%;
            .background {
                cursor: pointer;
                -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
                -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
                box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
                background-color: gray;
                height: 40vh;
                padding: 2%;
                text-align: center;
                transition: all 0.3s ease;
                color: white;
                .logo {
                    height: 70%;
                    font-size: 60px;
                    padding-top: 10%;
                    color: white;
                }
                .title {
                    height: 20%;
                    color: white;
                    padding: 2%;
                    padding-bottom: 0;
                    font-size: 25px;
                }
                &:hover {
                    transform: scale(1.01);
                    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.66);
                    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.66);
                    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.66);
                }
            }
        }
    }
    @import 'modules/main';
}