<div class="col-xs-10 col-xs-offset-2 topNav text-center">
</div>
<div class="col-xs-2 sideNav text-left">
    <div class="col-xs-12 sideNavTitle text-center"><b class="col-xs-10 col-xs-push-1">Capitulos</b><div class="col-xs-2 glyphicon glyphicon-arrow-left hidden"></div></div>
</div>
<div class="col-xs-10 col-xs-offset-2 content">
    <div class="col-xs-12 contentHead text-center">
        <div class="col-xs-1 contentInfo">Actividad</div>
        <div class="col-xs-2 contentInfo">Especificacion</div>
        <div class="col-xs-1 contentInfo">Unidad</div>
        <div class="col-xs-1 contentInfo">Unidades</div>
        <div class="col-xs-1 contentInfo">Cantidad</div>
        <div class="col-xs-2 contentInfo">Precio</div>
        <div class="col-xs-1 contentInfo">Desperdicio</div>
        <div class="col-xs-3 contentInfo">Total</div>
    </div>
</div>
