body {
  height: 100vh; }
  body h1 {
    margin: 0;
    height: 40vh;
    margin-top: 5vh;
    font-size: 60px; }
  body .options {
    margin-top: 5vh;
    padding: 2%; }
    body .options .option {
      padding: 2%; }
      body .options .option .background {
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
        background-color: gray;
        height: 40vh;
        padding: 2%;
        text-align: center;
        transition: all 0.3s ease;
        color: white; }
        body .options .option .background .logo {
          height: 70%;
          font-size: 60px;
          padding-top: 10%;
          color: white; }
        body .options .option .background .title {
          height: 20%;
          color: white;
          padding: 2%;
          padding-bottom: 0;
          font-size: 25px; }
        body .options .option .background:hover {
          transform: scale(1.01);
          -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.66);
          -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.66);
          box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.66); }
  body .topNav {
    height: 10vh;
    overflow: hidden;
    z-index: 5;
    background: white;
    padding: 0;
    border-bottom: solid 1px lightgray;
    transition: all .3s ease; }
    body .topNav .topNavPill {
      height: 100%;
      line-height: 10vh;
      border-right: solid 1px whitesmoke;
      background: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.3s ease; }
      body .topNav .topNavPill.active {
        background: #e8e8e8; }
      body .topNav .topNavPill:hover {
        background: gainsboro; }
    body .topNav.drop {
      height: auto; }
  body .sideNav {
    padding: 0;
    height: 100vh;
    position: fixed;
    margin-top: 0vh;
    z-index: 5;
    background: whitesmoke; }
    body .sideNav .sideNavTitle {
      font-size: 18px;
      padding: 2px 0; }
    body .sideNav .sideNavPill {
      padding: 2% 3%;
      height: 5%;
      border: solid 1px lightgray;
      background: whitesmoke;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.3s ease; }
      body .sideNav .sideNavPill.active {
        background: #e8e8e8; }
      body .sideNav .sideNavPill:hover {
        background: gainsboro; }
  body .content {
    height: auto;
    margin-top: 0vh;
    margin-top: 0vh;
    padding: 0;
    z-index: 0; }
    body .content .contentHead {
      padding: 0;
      background: whitesmoke;
      font-size: 18px;
      padding: 2px 0;
      font-weight: 100;
      border-left: solid 1px lightgray; }
      body .content .contentHead .contentInfo {
        border-right: solid 1px lightgray;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    body .content .contentCont {
      height: 50px;
      padding: 0;
      border-bottom: solid 1px whitesmoke; }
      body .content .contentCont .contentInfo {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-left: solid 1px whitesmoke;
        height: 100%;
        line-height: 50px; }
        body .content .contentCont .contentInfo:nth-child(5) {
          padding: 0; }
        body .content .contentCont .contentInfo input {
          height: 50%;
          top: 25%;
          padding: 0;
          text-align: center; }

/*# sourceMappingURL=main.css.map */
