<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ConstruControl</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css"> </head>

<body class="text-center" style="overflow:auto;">
    <h2 class="col-xs-12">Acerca de:</h2>
    <h3 class="col-xs-12">V1.0</h3>
    <h3 class="col-xs-12">Creado por:</h3>
    <h3 class="col-xs-12">Arturo Tilano C.</h3>
    <h3 class="col-xs-12">Tomas Velez G.</h3>
    <h3 class="col-xs-12">Profesor Asesor:</h3>
    <h3 class="col-xs-12">Luis Fernando Botero</h3>
    <h3 class="col-xs-12">Modelación Computacional</h3>
    <h3 class="col-xs-12">Ingeniería Civil</h3>
    <h3 class="col-xs-12">Universidad EAFIT</h3>
    <h3 class="col-xs-12">2017-01</h3>
     </body>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/main.js"></script>

</html>