<div class="col-xs-12 toolbar">
    <div class="col-xs-2 docTitle">ConstruControl</div>
    <div class="col-xs-1 cell toggle">
        <div class="glyphicon glyphicon-arrow-left"></div>
    </div>
    <div class="col-xs-1 cell new">
        <div class="glyphicon glyphicon-file"></div>
    </div>
    <div class="col-xs-1 cell save">
        <div class="glyphicon glyphicon-floppy-disk"></div>
    </div>
    <div class="col-xs-1 cell load">
        <div class="glyphicon glyphicon-folder-open"></div>
    </div>
    <div class="col-xs-3 col-xs-push-3 total"><div class="col-xs-10 col-xs-offset-2"><b>Total</b> <div class="pull-right">$ 0</div></div></div>
</div>
<div class="col-xs-10 col-xs-offset-2 topNav text-center"> </div>
<div class="col-xs-2 sideNav text-left">
    <div class="col-xs-12 sideNavTitle text-center"><b class="col-xs-10 col-xs-push-1">Capitulos</b> </div>
</div>
<div class="col-xs-10 col-xs-offset-2 content">
    <div class="col-xs-12 contentHead text-center">
        <div class="col-xs-1 contentInfo">Actividad</div>
        <div class="col-xs-2 contentInfo">Especificacion</div>
        <div class="col-xs-1 contentInfo">Unidad</div>
        <div class="col-xs-1 contentInfo">Unidades</div>
        <div class="col-xs-1 contentInfo">Cantidad</div>
        <div class="col-xs-2 contentInfo">Precio</div>
        <div class="col-xs-1 contentInfo">Desperdicio</div>
        <div class="col-xs-3 contentInfo">Total</div>
    </div>
</div>